:root {
    /* color definitions */
    --background-color: rgb(66, 58, 81);
    --outline-color: rgb(68, 68, 78);
    --card-color: rgb(125, 89, 87);
    --text-color: rgb(211, 218, 217);

    background-color: var(--background-color);
    font-family:Arial, Helvetica, sans-serif;
    color: var(--text-color);
    
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;
    background-color: var(--background-color);
    gap: 25px;
}

#header {
    position: relative;
    text-align: center;
    height: 100vh;
    color: var(--text-color);
}

#header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* width: 100%;
    height: 100vh;
    opacity: 0.8; */
}

#header .header_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.515);
    width: 100%;
}

#header .credit {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    color: var(--text-color);
}

#form {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--text-color);
    border-radius: 25px;
    padding: 10px;
    width: fit-content;
    gap: 25px;
    background-color: var(--card-color);
    margin-right: 20px;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.5);
}

#container {
    display: flex;
    gap: 15px;
}

#credentials { 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

fieldset {
    width: 450px;
    /* height: 400px; */
    border: none;
    border: 1px dashed var(--text-color);
    border-radius: 20px;
    text-align: center;
    font-weight: lighter;
    /* padding-top: 10px; */
}
.sign_up {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    /* margin-top: -5px; */
}

input {

    border: none;
    border-radius: 25px;
    width: 200px;
    height: 25px;
    padding: 5px 10px;
    margin-bottom: 5px;

    box-sizing: border-box;
}

label {
    display: inline-block;
    width: 150px;
}

select {
    text-align: center;
    border: none;
    border-radius: 25px;
    width: 200px;
    height: 25px;
    margin-bottom: 5px;

}

hr.dashed {
    border: none;
    width: 400px;
    height: 5px;
    margin-bottom: 5px;
    border-top: 1px dashed var(--text-color);
}

#submit_button > button {
    border: none;
    border-radius: 25px;
    width: 150px;
    height: 35px;
    background-color: rgba(249, 198, 155);
    color: var(--background-color);
    font-weight: bold;
    cursor: pointer;
}

#submit_button > button:hover {
    background-color: rgb(189, 151, 120);
}

#submit_button {
    /* centers the button horizontally inside the form which is a column flex container */
    align-self: center;
    margin-top: -10px;
}