:root {
    background-color: rgb(137, 157, 190);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#form {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    
}

#form > h1 {
    font-weight: bold;
    text-align: center;
    margin-top: -5px;
}

input {
    border: none;
    border-radius: 25px;

}